<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Projects</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="~/css/style.css"/>
    </head>
    <body>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <a class="navbar-brand" href="home">&#60;&#47;&#62; Sun Davey</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample03">
            <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="home">HOME</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="project">PROJECTS <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="contact">CONTACT</a>
            </li>
            </ul>
        </div>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <img src="/images/Capture2.PNG" class="projects">
                </div>
                <div class="col-4">
                    <img src="/images/Capture3.PNG" class="projects">
                </div>
                <div class="col-4">
                    <img src="/images/Capture.PNG" class="projects">
                </div>
            </div>
            <div class="row text-center">
                <div class="col-4">
                    <h4>Duplicating Random Website</h4>
                    <h6>Languages: HTML, CSS</h6>
                    <h6>Description</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla condimentum nisi suscipit turpis tincidunt, eu ultrices erat sollicitudin. Vestibulum orci augue, interdum pharetra mattis ac, sollicitudin rutrum leo. In sodales turpis quis sapien eleifend, et vestibulum lacus blandit. Pellentesque tincidunt leo sodales nisi tincidunt tristique. Morbi magna tortor, pharetra non sodales id, elementum vitae orci. Ut commodo ligula purus, ac efficitur arcu imperdiet non. Aliquam pulvinar consectetur tortor sollicitudin semper. Suspendisse potenti.</p>
                </div>
                <div class="col-4">
                    <h4>C# Card game</h4>
                    <h6>Languages: C#</h6>
                    <h6>Description</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla condimentum nisi suscipit turpis tincidunt, eu ultrices erat sollicitudin. Vestibulum orci augue, interdum pharetra mattis ac, sollicitudin rutrum leo. In sodales turpis quis sapien eleifend, et vestibulum lacus blandit. Pellentesque tincidunt leo sodales nisi tincidunt tristique. Morbi magna tortor, pharetra non sodales id, elementum vitae orci. Ut commodo ligula purus, ac efficitur arcu imperdiet non. Aliquam pulvinar consectetur tortor sollicitudin semper. Suspendisse potenti.</p>
                </div>
                <div class="col-4">
                    <h4>Mario Pacman game</h4>
                    <h6>Languages: HTML, CSS, Javascripts</h6>
                    <h6>Description</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla condimentum nisi suscipit turpis tincidunt, eu ultrices erat sollicitudin. Vestibulum orci augue, interdum pharetra mattis ac, sollicitudin rutrum leo. In sodales turpis quis sapien eleifend, et vestibulum lacus blandit. Pellentesque tincidunt leo sodales nisi tincidunt tristique. Morbi magna tortor, pharetra non sodales id, elementum vitae orci. Ut commodo ligula purus, ac efficitur arcu imperdiet non. Aliquam pulvinar consectetur tortor sollicitudin semper. Suspendisse potenti.</p>
                </div>
            </div>
        </div>
    </body>
</html>